<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
    <main>
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Details</span></h1>
        <hr class="my-3"/>
            <div th:object="${detailItem}" class="container-fluid">
                <div class="offer row mx-auto d-flex flex-row justify-content-center">
                    <div  class="offer card col-sm-6-md-3 col-lg-2 m-1 p-0">
                            <div class="card-img-top-wrapper">
                                <img th:class="card-img-top" th:src="*{url}" class="img-thumbnail" alt="image"/>
                            </div>
                            <div class="card-body pb-1">
                                <h5 class="card-title text-center" th:text="|Item name - *{name}|">Item name</h5>
                            </div>
                            <ul class="offer-details list-group list-group-flush">
                                <li class="list-group-item">
                                    <div th:text="|*{price}|" class="card-text text-center"><span >Item price</span></div>
                                </li>
                            </ul>
                        </a>
                        <div class="button-holder d-flex justify-content-center">
                            <a th:href="@{/delete/{id}(id = ${id})}" type="submit" class="btn btn-danger text-white mb-3">Delete Product</a>
                        </div>
                    </div>
            </div>
        </div>
    </main>
<footer th:replace="~{fragments/commons::footer}" class="footer bg-dark  py-2"></footer>
</body>
</html>
