body{
    background-color: rgb(238, 238, 238);
    font-size: 14px;
    
}
h1, h2 {
    font-family: Georgia, serif;
    font-size: 1em/1.2 ;
    margin: 20px 50px;
}
blockquote{
    font-family: Georgia, serif;
}
header * {
    position: relative;
    display: inline-block;
}
.title nav ul li a{
    text-align: right;
    text-decoration: none;
    color: green;
    margin: 10px;   
}
.header_title{
    font-size: 24px;
    font-weight: bold;
    margin-right: 400px;
}
hr{
    font-weight: bold;
}
article{
    display: inline-block;
    width: 700px;
    line-height: 24px;
    margin-right: 20px;
}

aside{
    display: inline-block;
    position: absolute;
    top: 100px;
}
aside ul li a{
    color: green;
    text-decoration: none;

}
#first{
   
    float: right;
    

}
#second{
    float: left;
}
#first{
    padding: 6px;
    border: 2px solid black;
    margin: 5px 30px 10px 0px;
}
#second{
    padding: 6px;
    border: 2px solid black;
    margin: 0px 20px 20px 40px;
}
p{
    margin: 20px 50px;
}
blockquote{
    position: absolute;
    width: 30%;
    display: inline-block;
    border-left: 2px solid lightgrey;
    font-style: italic;
    text-align: left;
    margin-left: 10px;

}
#text{
    display: inline-block;
    width: 40%;
    margin-right: 30px;
    
}
.name{
    text-align: right;
}








